name: Build and Release wintouchg

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: mingw-w64-x86_64-gcc mingw-w64-x86_64-binutils

      - name: Build project
        shell: msys2 {0}
        run: |
          gcc -g -Wall -Wextra -c -o main.o main.c
          windres -F pe-x86-64 manifest.rc -o manifest.o
          gcc -g -Wall -Wextra -c -o gui/gui.o gui/gui.c
          gcc -g -Wall -Wextra -o wintouchg.exe main.o manifest.o gui/gui.o -lgdi32

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: wintouchg.exe
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: wintouchg-executable
          path: wintouchg.exe
          if-no-files-found: ignore
